.traningus {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #feadb8;
}

.traningusbrd {
  width: 100%;
  font-family: "Playfair Display", serif;
  height: 70vh;
  background: url("../Images/traningbg.jpg");
  background-position: center;
  background-size: cover;
  z-index: 2;
  display: flex;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.401);
  flex-direction: column;
  justify-content: flex-end;
  padding: 9em;
  margin-bottom: 5%;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.414);
}

.traningusbrd h1 {
  font-size: 4em;
}
.traningusbrd h2 {
  font-size: 1.7em;
}
.traning-uscountent {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 5% 0px;
  font-family: "Playfair Display", serif;
  padding: 4em;
  border-radius: 5px;
  width: 80%;
  margin-top: 2em;
  background-color: white;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), -5px -5px 8px rgba(0, 0, 0, 0.1);
}
.traning-uscountent h2 {
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: 1px;
}
.traning-uscountent p {
  font-size: 1.3em;
}
