/* LANDING PAGE STYLING */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
#Landing-Page {
  color: white;
  width: 100vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-family: "Playfair Display", serif;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
height: 100%;
object-fit: cover;
}


#nav-div {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.455);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.455);
}
#Landing-Page nav {
  width: 60%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-div nav img{
width: 35%;
} 
.div-link-section {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.div-link-section #upper-div {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
.div-link-section > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

#landing-text {
  
  font-size: 2em;
  height: 90vh;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#landing-text h1 {
  letter-spacing: 2px;
  font-weight: normal;
  padding-bottom: 20px;
  text-shadow: 1px 1px 5px black;
  border-bottom: 4px solid #be9244;
}
#landing-text h1 span{
  font-size: 1.5em;
}
/* WE CARE STYLING */

#wecare {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1e4dc;
}
#wecare img {
  width: 30%;
}
#wecare p {
  width: 40%;
  font-size: 1.5em;
  text-align: center;
}

/* OUR INTRO STYLING */

#OurIntroduction {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info-tab {
  width: 40%;
}
.intro-nav {
  width: 20%;
  list-style: none;
}
.intro-nav li {
    margin: 10px 0px;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 2px solid white;
  transition: all 200ms ease-in-out;
}
.intro-nav li:hover {
  font-size: 1.15em;
  border-bottom: 4px solid #be9244;
}


/* OVERVIEW OF SPAN STYLING */

#overviewOfSpan{
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#overviewOfSpan img{
  width: 30%;
}
#overviewOfSpan > div{
  padding: 2em 0px;
  width: 35%;
}
#overviewOfSpan > div h1{
  color: #a5c21c;
}
#overviewOfSpan > div p{
  text-wrap: balance;
}

/* Iilite Trade */

#IiliteTrade{
 background: url('./Images/IMG_2780\ \(1\).JPG');
 background-position: center;
 background-size: cover;
  padding: 2em 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#IiliteTrade > div{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#IiliteTrade > div p{
  width: 70%;
}

#IiliteTrade >div>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0px;
}
#IiliteTrade >div>div div{
  color: white;
  width: 30%;
  height: 25em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.71);
  overflow-y: hidden
}

/* #HIGHLIGHTS  Of SERVICE */

#HighlightOfService{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.corausol{
  width: 80%;
  display: flex;
}

.corausol>div{
  display: flex;
  width: 100%;
}
.corausol >div img{
  width: 49%;
}
.corausol >div div{
  width: 49%;
}