/* LANDING PAGE STYLING */

@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Nunito+Sans:opsz@6..12&family=Playfair+Display&display=swap");
#Landing-Page {
  color: white;
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden !important;
}

/* ===== Scrollbar CSS ===== */

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #625f5f7b;
}

*::-webkit-scrollbar-thumb {
  background-color: #cd0e0e;
  border-radius: 30px;
  border: none;
}

.fa-whatsapp {
  position: fixed;
  z-index: 100;
  font-size: 2.5em;
  padding: 15px;
  border-radius: 100px;
  background-color: white;
  color: green;
  bottom: 1em;
  right: 1em;
}
.cokieecard {
  height: 100vh;
  width: 100%;
  display: flex;
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.693);
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

#nav-div {
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.455);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.455);
  animation: navanimation 2s ease;
}

@keyframes navanimation {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#nav-div div a {
  text-decoration: none;
  color: white;
}

#dropdown {
  padding: 2em 10%;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255);
  flex-wrap: wrap;
  justify-content: space-between;
  transition: display 0.5s ease;
}
#dropdown > * {
  font-size: 0.9em;
  width: 30%;
}
#dropdown * {
  color: black !important;
}
#dropdown ul,
#dropdown li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4px 0px;
}
#dropdown li {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
}
#dropdown ul {
  display: flex;
  flex-direction: column;
}

#dropdown a {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}
#dropdown a:hover {
  transform: scale(1.05);
  color: #be9244;
}
.lower-div > div i {
  margin-left: 5px;
  transition: all 0.5s ease;
}

.lower-div > div:hover {
  border-bottom: 5px solid maroon;
}
#nav-div.scrolled {
  background-color: rgba(255, 255, 255);
  color: black;
  /* Add any other styles you want for the scrolled state */
}
#nav-div nav {
  color: white;
  width: 80%;
  height: 17vh;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  font-family: "Exo 2", sans-serif;
  font-size: 0.9em;
  justify-content: space-between;
}
#nav-div nav a {
  width: 35%;
}
#nav-div nav img {
  width: 100%;
  margin-left: 1em;
}
.div-link-section {
  display: flex;
  width: 55%;
  height: 100%;
  flex-direction: column;
}

.div-link-section #upper-div {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
.div-link-section > div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  gap: 5px;
  height: 50%;
}
.div-link-section > div > div,
.div-link-section > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.upper-div {
  border-bottom: 3px solid white;
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  gap: 25px !important;
}
.upper-div a {
  width: fit-content !important;
}
.burger {
  display: none;
}
.container {
  display: none;
}
@media only screen and (max-width: 901px) {
  #nav-div nav {
    width: 90%;
    height: 12vh !important;
  }
  #span-logo {
    width: 65% !important;
  }
  .div-link-section {
    display: none;
  }
  .container * {
    color: #333 !important;
  }
  .container {
    padding-top: 25% !important;
    display: inline-block;
    position: fixed;
    top: 0;
    transition: all 1s ease;
    padding: 0%;
    width: 80vw;
    background-color: whitesmoke;
    height: 100vh;
    overflow: scroll;
  }
  button.accordion {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    background-color: whitesmoke;

    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }
  button.accordioni {
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    background-color: whitesmoke;

    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }

  button.accordion:after {
    font-family: FontAwesome;
    content: "\f150";
    font-family: "fontawesome";
    font-size: 18px;
    float: right;
  }

  button.accordion.is-open:after {
    content: "\f151";
  }

  .accordion-content {
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  .accordion-content p {
    margin: 0%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    gap: 3px;
  }
  .accordion-content p li {
    font-family: "Exo 2", sans-serif;
    color: maroon !important;
    font-size: 1.3em;
    text-transform: uppercase;
    width: 90% !important;
  }
  .accordion-content p a {
    font-family: "Nunito Sans", sans-serif !important;
    text-transform: capitalize;
    width: 90% !important;
  }
  .accordion-content p ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    gap: 3px;
  }
  .burger {
    height: 100%;
    display: inline-block;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin-right: 10px;
  }

  .burger div {
    transition: all 1s ease-in-out;
    margin: 2px 0px;
    width: 70%;
    border: 1px solid black;
  }
  #background-video {
    left: -50%;
  }

  #wecare img {
    width: 80% !important;
  }
  #wecare p {
    width: 90% !important;
  }
  #OurIntroduction {
    flex-direction: column;
  }
  .info-tab {
    width: 90% !important;
  }
  .intro-nav {
    width: 90% !important;
  }
  #overviewOfSpan {
    flex-direction: column-reverse;
  }
  #overviewOfSpan img {
    width: 90% !important;
    margin-left: 0em !important;
    transition: all 1s ease;
  }
  #overviewOfSpan > div {
    padding: 2em 0px;
    width: 90% !important;
    margin-right: 0em !important;
    transition: all 1s ease;
  }
  #IiliteTrade > div p {
    width: 100% !important;
  }
  #IiliteTrade > div > div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0px;
  }
  #IiliteTrade > div > div div {
    color: white;
    width: 100% !important;
    height: fit-content !important;
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.71);
    transition: all 500ms ease;
    overflow-y: hidden;
  }
  #IiliteTrade > div > div div:hover {
    height: 30em;
    transform: scale(1.2);
    font-size: 0.8em;
    align-self: center;
  }

  #HighlightOfService > h1 {
    margin-top: 2em;
    margin-bottom: 2em !important;
    font-size: 2em;
  }
  .corausol {
    height: 25svh !important;
  }
  .corausol > div p {
    font-size: 0.5em !important;
  }
}

/* LANDING PAGE  */
#landing-text {
  font-size: 5em;
  height: 90vh;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#landing-text h1 span {
  text-transform: capitalize;
}
#landing-text h1 {
  font-size: 0.6em;
  letter-spacing: 2px;
  font-weight: normal;
  padding-bottom: 20px;
  text-shadow: 1px 1px 5px black;
  border-bottom: 4px solid #be9244;
  animation: titleanimation 2s ease;
}
@keyframes titleanimation {
  0% {
    visibility: hidden;
    transform: translateY(2em);
  }
  100% {
    visibility: visible;
    transform: translateY(0em);
  }
}
#landing-text h1 span {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}
/* WE CARE STYLING */

#wecare {
  width: 100%;
  padding: 3em 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff8e3;
}
#wecare img {
  width: 35%;
}
#wecare p {
  width: 45%;
  font-size: 1.5em;
  color: black;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}

/* OUR INTRO STYLING */

#OurIntroduction {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  gap: 35%;
  transition: all 0.3s ease;
  color: black;
  font-family: "Nunito Sans", sans-serif;
  overflow: hidden !important;
}

.info-tab h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: maroon;
  text-transform: uppercase;
}
.info-tab h2 {
  font-family: "Exo 2", sans-serif;
  color: maroon;
  text-transform: uppercase;
}
.info-tab {
  font-size: 1.5em;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: all 1s ease;
}
.intro-nav {
  width: 20%;
  color: #451952;
  list-style: none;
  transition: all 1s ease;
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
}
.intro-nav li {
  margin: 10px 0px;
  width: 100%;
  font-size: 1.5em;
  padding: 10px 0px;
  border-bottom: 2px solid white;
  transition: all 200ms ease-in-out;
}
.intro-nav li:hover {
  border-bottom: 4px solid maroon;
  font-size: 1.7em;
}
/* .searchbox {
  font-size: 1.14em;
  display: flex;
  gap: 10px;
} */

/* OVERVIEW OF SPAN STYLING */

#overviewOfSpan {
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  background-color: black;
  color: white;
  font-size: 1.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
}

#overviewOfSpan img {
  width: 40%;
  margin-left: 3em;
  transition: all 1s ease;
}
#overviewOfSpan > div {
  padding: 2em 0px;
  width: 40%;
  margin-right: 1em;
  transition: all 1s ease;
}
#overviewOfSpan > div h1 {
  font-size: 1.7em !important;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: maroon;
  margin-bottom: 1em;
}

/* Iilite Trade */

#IiliteTrade {
  font-family: "Nunito Sans", sans-serif;

  background: url("./Images/IMG_2780\ \(1\).JPG");
  background-position: center;
  background-size: cover;
  padding: 2em 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
}

#IiliteTrade h1 {
  width: fit-content;
  margin-bottom: 10px;
  text-transform: uppercase;
  transition: all 1s ease;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: maroon;
  border-bottom: 4px solid #3c0753;

  margin-bottom: 1em;
}
#IiliteTrade h3 {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
}
.lilite-cards {
  transition: all 1s ease;
}
#IiliteTrade > div {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#IiliteTrade > div p {
  width: 70%;
}

#IiliteTrade > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0px;
}
#IiliteTrade > div > div div {
  color: white;
  width: 30%;
  height: 20em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.71);
  transition: all 500ms ease;
  overflow-y: hidden;
}
#IiliteTrade > div > div div:hover {
  height: 30em;
  transform: scale(1.2);
  font-size: 0.8em;
  align-self: center;
}

/* #HIGHLIGHTS  Of SERVICE */

#HighlightOfService {
  overflow: hidden !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #c31432, #240b36);
  padding-bottom: 4em;
}
.corausol {
  height: 75vh;
  position: relative;
  background-color: white;
  width: 80%;
  display: flex;
  overflow: hidden;
}
.prev,
.next {
  position: absolute;
  z-index: 10;
  padding: 15px;
  background-color: rgba(146, 143, 137, 0.403);
  border-radius: 30px;
}

.prev {
  top: 50%;
  left: 5%;
}
.next {
  top: 50%;
  right: 5%;
}

#HighlightOfService > h1 {
  margin-top: 2em;
  margin-bottom: 4em;
  padding: 5px;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.corausol > div {
  transition: all ease 0.5s;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
.corausol > div p {
  font-family: "Nunito Sans", sans-serif;
  color: black;
}
.corausol > div h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: maroon;
  border-bottom: 2px solid maroon;
  text-transform: uppercase;
}
.corausol > div img {
  height: 100%;
  width: 52%;
}
.corausol > div div {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  justify-content: center;
}
.corausol > div div p {
  text-wrap: balance;
  word-wrap: break-word;
  padding: 0px 1em;
}

#Footer {
  width: 100%;
  display: flex;
  padding: 2em 0px;
  font-family: "Nunito Sans", sans-serif;
  background: url("./Images/footerbg.jpg");
  background-size: cover;
  align-items: center;
  justify-content: space-evenly;
  border-top: 15px solid #b4b4b8;
}
#Footer > div {
  width: 40%;
}
#footer-div1 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#Footer h2 {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: maroon;
  margin-bottom: 1em;
}
#footer-div2 p {
  padding-left: 32px;
}
#footer-div2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

#Footer > div ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
#Footer > div ul li {
  border-bottom: 2px solid #fff9d7;
  padding-bottom: 3px;
}
#Footer > div ul li:hover {
  border-bottom: 2px solid maroon;
  padding-bottom: 3px;
}

#Footer > div ul a i {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.594);
  border-radius: 50px;
  color: white;
}
#Footer > div ul a :hover {
  background-color: rgba(0, 0, 0, 0.794);
}
#Footer h3 {
  font-size: 1.3em;
  margin: 0%;
}

@media only screen and (max-width: 750px) {
  #Footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    background-color: #fff9d7;
    align-items: center;
    justify-content: space-evenly;
    border-top: 15px solid #b4b4b8;
  }
  #Footer > div ul {
    width: 100% !important;
    align-items: center;
    padding: 0%;
    margin: 0%;
    margin-bottom: 1em;
    justify-content: space-evenly;
  }
  #Footer > div {
    width: 90% !important;
  }
}
/* CONACTPAGE STYLING */

@media only screen and (max-width: 750px) {
  .Contact {
    margin-top: 15vh !important;
  }
  .Contact > div {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    justify-content: center;
  }
  .Contact > div > div {
    width: 85% !important;
  }
  .Contact > h1 {
    width: 100%;
    align-items: center !important;
    justify-content: center;
    padding-left: 0% !important;
    margin: 0.5em 0px !important;
  }
  .form button {
    padding: 12px 24px;
    background-color: #e11d48;
    color: white;
    border: none;
    width: 95%;
    border-radius: 7px;
    margin-top: 1.5em !important;
  }
}

.Contact * {
  font-family: "Nunito Sans", sans-serif;
}
.Contact {
  width: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
}
.Contact > div {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Contact > div > div {
  width: 40%;
}
.adress p {
  margin: 0px;
}
.adress h3 {
  margin-top: 1em;
  color: #7464d1;
}
.adress span {
  color: #7464d1;
}
.map {
  width: 100%;
  margin-bottom: 5em;
}
.map iframe {
  width: 85%;
}
.Contact > h1 {
  height: 30%;
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
  margin: 1em 0px;
  font-size: 3em;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: maroon;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.form > div {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.form > div > input {
  padding: 7px;
  height: 3em;
  border-radius: 3px;
  outline: none;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
}
.form button {
  padding: 12px 24px;
  background-color: #e11d48;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 3em;
}
#message {
  width: 95%;
}
#message textarea {
  height: 8em;
  resize: none;
  padding: 7px;
  border-radius: 3px;
  outline: none;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
}

/* TEMPLATE STYLING */

.template {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f8f8;
}
.templatebrd:hover {
  background-color: white;
}
.templatebrd {
  width: 100%;
  font-family: "Exo 2", sans-serif;
  height: 32vh;
  display: flex;
  background-color: #fff8e3;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 20vh;
  padding: 0px 5%;
}

.templatebrd h1 {
  color: #b61032;
  font-size: 2.5em;
  font-weight: bold;
}
.templatebrd h2 {
  font-size: 0.8em;
  color: #433c48;
}
.templatecontent {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 5% 0px;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 5px;
  padding: 3.5em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -2px -2px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-top: 2em;
  background-color: white;
}
.templatecontent h2 {
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: 1px;
}
.templatecontent p {
  font-size: 1.3em;
}

@media only screen and (max-width: 901px) {
  .templatebrd {
    width: 100%;
    font-family: "Exo 2", sans-serif;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    margin-top: 15vh;
    padding: 0px 5%;
  }
  .templatebrd h1 {
    font-size: 2.1em;

    font-weight: bold;
  }
  .templatebrd h2 {
    margin: 5px 0px;
    font-size: 0.8em;
  }
  .templatecontent {
    padding: 1.5em;
    width: 90%;
    margin-top: 1em;
  }
  .messagecontent {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 5% 0px;
    font-family: "Playfair Display", serif;
    border-radius: 5px;
    padding: 3.5em;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -2px -2px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 2em;
    background-color: white;
  }
  .messagecontent > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .messagecontent > div img {
    width: 100% !important;
  }

  .messagecontent > div p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.2em;
    width: 90% !important;
    text-align: center;
  }
  #colVineetJaisawal {
    flex-direction: column-reverse;
  }
}

.Message {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffbf5;
}

.messagecontent {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 5% 0px;
  font-family: "Playfair Display", serif;
  border-radius: 5px;
  padding: 1.5em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1), -2px -2px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  background-color: white;
}

.messagecontent > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.messagecontent > div img {
  width: 45%;
}

.messagecontent > div p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2em;
  width: 45%;
}
