/* LANDING PAGE STYLING */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
#Landing-Page {
  color: white;
  width: 99vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden !important;
  font-family: "Playfair Display", serif;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

#nav-div {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.455);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.455);
}

#nav-div div a {
  text-decoration: none;
  color: white;
}
#dropdown {
  padding: 2em 10%;
  width: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.797);
  flex-wrap: wrap;
  justify-content: space-between;
  transition: display 0.5s ease;
}
#dropdown > * {
  font-size: 0.9em;
  width: 30%;
}
#dropdown * {
  color: black !important;
}
#dropdown ul,
#dropdown li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 4px 0px;
}
#dropdown li {
  font-weight: bold;
}
#dropdown ul {
  display: flex;
  flex-direction: column;
}

#dropdown a {
  text-decoration: none;
}
#dropdown a:hover {
  transform: scale(1.05);
  color: #be9244;
}
.lower-div > div i {
  margin-left: 5px;
  transition: all 0.5s ease;
}

.lower-div > div:hover {
  border-bottom: 5px solid #be9244;
}
#nav-div.scrolled {
  background-color: rgba(255, 255, 255);
  color: black;
  /* Add any other styles you want for the scrolled state */
}
#nav-div nav {
  color: white;
  width: 75%;
  height: 17vh;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  justify-content: space-between;
}
#nav-div nav a {
  width: 35%;
}
#nav-div nav img {
  width: 100%;
}
.div-link-section {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
}

.div-link-section #upper-div {
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
.div-link-section > div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  gap: 5px;
  height: 50%;
}
.div-link-section > div > div,
.div-link-section > div > a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.upper-div {
  grid-template-columns: repeat(3, 1fr) !important;
}
#landing-text {
  font-size: 5em;
  height: 90vh;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#landing-text h1 {
  font-size: 0.6em;
  letter-spacing: 2px;
  font-weight: normal;
  padding-bottom: 20px;
  text-shadow: 1px 1px 5px black;
  border-bottom: 4px solid #be9244;
}
#landing-text h1 span {
  font-size: 1.5em;
}
/* WE CARE STYLING */

#wecare {
  width: 100%;
  padding: 3em 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1e4dc;
}
#wecare img {
  width: 30%;
}
#wecare p {
  width: 40%;
  font-size: 1.5em;
  text-align: center;
}

/* OUR INTRO STYLING */

#OurIntroduction {
  height: 100vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-evenly;
  font-family: "Playfair Display", serif;
  color: white;
}

.info-tab {
  font-size: 1.1em;
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.intro-nav {
  width: 20%;
  list-style: none;
}
.intro-nav li {
  font-size: 1.3em;
  margin: 10px 0px;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 2px solid white;
  transition: all 200ms ease-in-out;
}
.intro-nav li:hover {
  font-size: 1.15em;
  border-bottom: 4px solid #be9244;
}
.searchbox {
  font-size: 1.14em;
  display: flex;
  gap: 10px;
}

/* OVERVIEW OF SPAN STYLING */

#overviewOfSpan {
  font-family: "Playfair Display", serif;
  width: 100%;
  height: 90vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#overviewOfSpan img {
  width: 40%;
  margin-left: 3em;
}
#overviewOfSpan > div {
  padding: 2em 0px;
  width: 40%;
  margin-right: 1em;
}
#overviewOfSpan > div h1 {
  color: #a5c21c;
}

/* Iilite Trade */

#IiliteTrade {
  font-family: "Playfair Display", serif;
  background: url("./Images/IMG_2780\ \(1\).JPG");
  background-position: center;
  background-size: cover;
  padding: 2em 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#IiliteTrade h1 {
  border-bottom: 4px solid #be9244;
  width: fit-content;
  margin-bottom: 10px;
}
#IiliteTrade > div {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#IiliteTrade > div p {
  width: 70%;
}

#IiliteTrade > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0px;
}
#IiliteTrade > div > div div {
  color: white;
  width: 30%;
  height: 20em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.71);
  transition: all 500ms ease;
  overflow-y: hidden;
}
#IiliteTrade > div > div div:hover {
  height: 30em;
  transform: scale(1.2);
  font-size: 0.8em;
  align-self: center;
}

/* #HIGHLIGHTS  Of SERVICE */

#HighlightOfService {
  font-family: "Playfair Display", serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #37b5b6;
  padding-bottom: 4em;
}
.corausol {
  position: relative;
  background-color: white;
  width: 80%;
  height: 75vh;
  display: flex;
  overflow: hidden;
}
.prev,
.next {
  position: absolute;
  z-index: 10;
  padding: 15px;
  background-color: rgba(146, 143, 137, 0.403);
  border-radius: 30px;
}

.prev {
  top: 50%;
  left: 5%;
}
.next {
  top: 50%;
  right: 5%;
}

#HighlightOfService > h1 {
  margin: 3em 0px;
  border-bottom: 4px solid #be9244;
  padding: 5px;
}
.corausol > div {
  transition: all ease 0.5s;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}
.corausol > div img {
  height: 100%;
  width: 55%;
}
.corausol > div div {
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Footer {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 8px solid #637a9f;
}

#Footer > div {
  width: 40%;
}

#Footer > div ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
#Footer > div ul li {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}
#Footer > div ul li:hover {
  border-bottom: 2px solid #be9244;
  padding-bottom: 3px;
}

#Footer > div ul a {
  padding: 10px;
  border-radius: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.594);
}

/* CONACTPAGE STYLING */

.Contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.Contact > div {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Contact > h1 {
  color: #e74853;
}
.adress h3 {
  color: #7464d1;
}
.adress span {
  color: #7464d1;
}

.Contact > div > div {
  width: 40%;
}
.Contact > h1 {
  height: 30%;
  display: flex;
  align-items: flex-end;
  padding-left: 10%;
  font-size: 3em;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.form > div {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.form > div > input {
  padding: 7px;
  height: 3em;
  border-radius: 3px;
  outline: none;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
}
.form button {
  padding: 12px 24px;
  background-color: #e11d48;
  color: white;
  border: none;
  border-radius: 7px;
  margin-top: 3em;
}
#message {
  width: 95%;
}
#message textarea {
  height: 8em;
  resize: none;
  padding: 7px;
  border-radius: 3px;
  outline: none;
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
}
